.section {
  margin-bottom: 20px;
}

.button {
  padding: 10px;
  margin-right: 10px;
}

.main-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}